body {
	background-color: #F9F5E6;
}

hr {
    border-top: 1px solid #444;
}

a, a:hover, a:link, a:visited, a:active {
	color: #440254; /* accessibility requires high contrast */
	text-decoration: none; /* border-bottom looks better than underline */
	border-bottom: 1px solid #440254; /* accessibility requires a line */
}
	a:hover, a:active {
		color: #627;
		border-color: #627;
	}
	footer a, footer a:hover, footer a:link, footer a:visited, footer a:active {
		color: #885B94;
		border: none;
	}
		footer a:hover {
			border-bottom: 1px solid #885B94;
		}

#footer-social a {
	color: #440254;
}
	#footer-social a:hover {
		color: #440254;
	}

#nav-wrap {
	background-color: #885B94;
}

.navbar a {
	color: #F9F5E6;
}
.navbar a.navbar-brand {
	background-image: url('/static/branding/279forchange.us/logo.png');
	background-size: 32px 32px;
	background-position-y: 9px;
	background-repeat: no-repeat;
	padding-top: 13px;
	padding-left: 38px;
	font-size: 20px;
	font-family: Yanone Kaffeesatz, sans-serif;
}

#page-fixed-header {
	background-color: rgba(50,50,50, .85);
	min-height: 44px;
	color: white;
	background-image: url('/static/branding/279forchange.us/logo.png');
	background-size: 32px 32px;
	background-position: 15px 6px;
	background-repeat: no-repeat;
	padding-left: 60px;
}
