<style>
	#twoseventyninecount {
		padding: 1em;
	}

	#magic-number {
	}
	#magic-number td {
		vertical-align: top;
		padding-bottom: .5em;
	}
		#magic-number td.num {
			padding-left: .25em;
			padding-right: .75em;
			text-align: right;
		}
</style>

{% with counts=campaign.twoseventyninecounts %}
{% if counts %}
<div id="twoseventyninecount">
	<p>As of TODAY&mdash;</p>
	<table id="magic-number">
		<tr>
			<td/>
			<td class="num">{{counts.house}}</td>
			<td class="descr">more Congresspersons needed to PASS THE HOUSE, and </td>
		</tr>
		<tr>
			<td class="sym">+</td>
			<td class="num">{{counts.senate}}</td>
			<td class="descr">more Senators needed to PASS THE SENATE</td>
		</tr>
		<tr>
			<td class="sym">+</td>
			<td class="num">{{counts.president}}</td>
			<td class="descr">The President&rsquo;s signature needed to BECOME LAW</td>
		</tr>
	</table>
</div>
{% endif %}
{% endwith %}