{% extends "master.html" %}

{% block title2 %}{{SITE_NAME}} - {% include "tagline.txt" %}{% endblock %}

{% block head %}
<meta property="og:title" content="{{SITE_NAME}}" />
<meta name="description" content="{% include "tagline.txt" %}">
<meta property="og:description" content="{% include "tagline.txt" %}">
{% include "og_image.html" %}
<meta name="twitter:card" content="summary" />

<style>
#deck {
	font-size: 120%;
	margin-bottom: 2em;
}

#magic-number {
	margin: 0 auto;
}
#magic-number td {
	vertical-align: top;
	line-height: 135%;
	font-size: 20px;
	font-family: "jaf-facitweb", sans-serif;
	font-weight: bold;
	padding-bottom: .5em;
}
	#magic-number td.num {
		padding-left: .25em;
		padding-right: .75em;
		text-align: right;
	}
	#magic-number div {
		font-weight: normal;
		font-size: 92%;
		margin-top: 1px;
	}
	#magic-number tr.total {
		border-top: 1px solid black;
	}
		#magic-number tr.total td {
			padding-top: .5em;
		}

{% include "itfsite/campaign-bubble-styles.css" %}

.campaign-bubble {
	border-color: #A494A8;
}

</style>
{% endblock %}

{% block body %}
<h1>279 for Change Campaign</h1>

<div id="deck">
	The 279 for Change Campaign is designed to change the way things are done in Washington, DC.
</div>

<hr>

<div class="row">
	<div class="col-md-6 col-lg-5">
		<div style="padding-right: 15px">
			<p>From now on, we control the politicians and our fate as we collectively crowdsource “The Magic Number” in American government to end gridlock and move this country that we love forward.</p>

			<h2>What&rsquo;s the magic number?</h2>

			<table id="magic-number">
				<tr>
					<td/>
					<td class="num">218</td>
					<td class="descr">Representatives<div>(a majority)</div></td>
				</tr>
				<tr>
					<td class="sym">+</td>
					<td class="num">60</td>
					<td class="descr">Senators<div>(breaks a filibuster)</div></td>
				</tr>
				<tr>
					<td class="sym">+</td>
					<td class="num">1</td>
					<td class="descr">The President</td>
				</tr>
				<tr class="total">
					<td class="sym">=</td>
					<td class="num">279</td>
					<td class="descr">Can Make A Law</td>
				</tr>
			</table>

			<p>With the “Magic 279,” we can pass ANY bill, we can make ANYTHING happen, and we can CHANGE AMERICA in a heartbeat!</p>
		</div>
	</div>

	<div class="col-md-6 col-lg-7">
		<h2 style="margin-top: 0">Let&rsquo;s get to 279 on these issues:</h2>

		<p style="margin: 2em 0;">Here are the celebrities, causes and bills that are available RIGHT NOW on causes that ALREADY have a substantial majority of support in the country. Choose one (or more) and help us crowdsource 279, end gridlock, practice true democracy and change America!</p>

		{% if open_campaigns|length > 0 %}
		<div class="row">
			{% for c in open_campaigns %}
				{% if forloop.counter0|divisibleby:2 %}<div class="clearfix"></div>{% endif %}
				<div class="col-sm-6">
					{% include "itfsite/campaign-bubble.html" %}
				</div>
			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}

