{% extends "master.html" %}

{% block title2 %}{{SITE_NAME}} - {% include "tagline.txt" %}{% endblock %}

{% block head %}
<meta property="og:title" content="{{SITE_NAME}}" />
<meta name="description" content="{% include "tagline.txt" %}">
<meta property="og:description" content="{% include "tagline.txt" %}">
{% include "og_image.html" %}
<meta name="twitter:card" content="summary" />

<style>
#deck {
	font-size: 120%;
	margin-bottom: 2em;
}

#magic-number {
	margin-top: 1.5em;
}
#magic-number td {
	vertical-align: top;
	line-height: 135%;
	font-size: 16px;
	font-family: "jaf-facitweb", sans-serif;
	font-weight: bold;
	padding-bottom: .5em;
}
	#magic-number td.num {
		padding-left: .25em;
		padding-right: .75em;
		text-align: right;
	}
	#magic-number div {
		font-weight: normal;
		font-size: 92%;
		margin-top: 1px;
	}
	#magic-number tr.total {
		border-top: 1px solid black;
	}
		#magic-number tr.total td {
			padding-top: .5em;
		}

.twoseventyninecounts {
	clear: both;
	background-color: #EEE;
	padding: 6px 10px;
	text-align: center;
	font-size: 95%;
}
.twoseventyninecounts p {
	margin: 0 0 3px 0;
}
.twoseventyninecounts .num {
}
.twoseventyninecounts .descr {
	line-height: 125%;
	font-size: 90%;
}

{% include "itfsite/campaign-bubble-styles.css" %}

.campaign-bubble {
	border-color: #A494A8;
}

</style>
{% endblock %}

{% block body %}
<h1>279 for Change Campaign</h1>

<div id="deck">
	<p>Right now all of these bills are just votes away from becoming the law of the land.</p>
	<p>Pick one and help crowdsource the 279* votes needed.</p>
</div>

<h2>Do you want to . . .</h2>

{% if open_campaigns|length > 0 %}
<div class="row">
	{% for c in open_campaigns %}
		{% if forloop.counter0|divisibleby:2 %}<div class="visible-sm clearfix"></div>{% endif %}
		{% if forloop.counter0|divisibleby:3 %}<div class="visible-md visible-lg clearfix"></div>{% endif %}
		<div class="col-sm-6 col-md-4">
			{% include "itfsite/campaign-bubble.html" %}
		</div>
	{% endfor %}
</div>
{% endif %}

<hr>

<p>In the United States the “Magic Number” to get anything passed into law is only 279:</p>

<table id="magic-number">
	<tr>
		<td/>
		<td class="num">218</td>
		<td class="descr">Congresspersons in the House of Representatives<div>(a majority)</div></td>
	</tr>
	<tr>
		<td class="sym">+</td>
		<td class="num">60</td>
		<td class="descr">Senators in the United States Senate<div>(a filibuster-proof majority)</div></td>
	</tr>
	<tr>
		<td class="sym">+</td>
		<td class="num">1</td>
		<td class="descr">Person in the White House to Sign It</td>
	</tr>
	<tr class="total">
		<td class="sym">=</td>
		<td class="num">279</td>
		<td class="descr"></td>
	</tr>
</table>


{% endblock %}

